.c1{
    height: 80%;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    
    
}
.first{
    width: 30%;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    background-image: url(images/chinese.jpg);
    border: 10px solid black;
     transition: all 0.5s ease;
   
}

.first:hover {
  background-image: url(images/background.jpg);
  transform: scale(1.2);
}
#jk{
    font-family: 'Times New Roman';
    color: white;
  -webkit-text-stroke: 2px black; 
  font-weight: bold;
}
.second{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(images/chinese.jpg);
    border: 10px solid black;
    transition: all 1s ease;
}
.second:hover {
  background-image: url(images/background.jpg);
  transform: scale(1.2);
}
a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-size: larger;
    font-family: 'arial black';
    -webkit-text-stroke: 2px black; 
  font-weight: bold;
}
.h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: 'Arial black';
}
.l1{
    text-align: center;
    background-color: black;
    color: azure;
    font-size: 20px;
}
.s1{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 10px solid black;
    flex-direction: column;
    background-image: url(images/home1.jpg);
     animation: gradientMove 8s ease infinite;
    }
    @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }}

.x1{
   height: 300px;
    border-radius: 30px;
}

.Cards{
    width: 1310px;
    height: 400px;
    display: flex;
    background-color: orangered;
    align-items: center;
    justify-content: space-evenly;
    border: 10px solid black;
    background-image: url(images/home1.jpg);
    
}

.b1{
    height: 300px;
    width: 400px;
   background-image: url(images/background.jpg);
   border-radius: 20px;
   border: 5px solid black;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}
.b1:hover{
    height: 350px ;
    width: 450px;
}
.pj{
    font-weight: bold;
    font-size: 25px;
}
.b1{
    opacity: 0;
    animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.b2{
    height: 300px;
    width: 400px;
    background-image: url(images/background.jpg);
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}
.b2:hover{
    height: 350px ;
    width: 450px;
}
.pj1{
     font-weight: bold;
    font-size: 25px;
}
.b2{
    opacity: 0;
    animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.b3{
    height: 300px;
    width: 400px;
    background-image: url(images/background.jpg);
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}
.b3:hover{
    height: 350px ;
    width: 450px;
}
.pj2{
     font-weight: bold;
    font-size: 25px;
}
.ja{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.b3{
    opacity: 0;
    animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.uc{
    width: 1310px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    background-image: url(images/home1.jpg);
    border: 10px solid black;
    animation: gradientMove 8s ease infinite;
}
 @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }}

.ul{
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    border: 8px solid black;
    border-radius: 20px;
    background-image: url(images/background.jpg);
}

.vk{
    background-image: url(images/dargon.jpg);
}